/* Selector Universal */
*{
    padding: 0 auto;
    margin: 0 auto;
}

/* Select ID */
#contenedor {
    padding-top: 0.5px;
    padding-bottom: 15px;

    width: 900px;
    height: 1000px;
    background-color: bisque;
}

#encabezado {
    margin: 0.5em;
    height: 15%;
    background-color: red;

}

#menu{
    margin: 0.5em;
    border-top: 20px;
    height: 5%;
    background-color:222(255, 254, 254);


}
#contenido{
    border-top: 20px;
    height: 70%;
    background-color: rgb(0, 242, 0);;
    margin: 0.5em;
    

}

#pie{
    margin: 0.5em;
    border-radius: 1em;
    height: 8%;
    background-color: brown;
  
}
/* Selector de clase */

.texto{
    text-align: justify;
    font-family: Tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}

.logo img{
    height: 60px;
    cursor: pointer;
}
.titulos{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.encabezado_articulo{
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;
}
.encabezado_articulo2{
    text-align: center;
    background: #333;
    color: white;
    margin: auto 4em;
}



.imagenes{
    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    border-radius: 4px;
    width: 150px;

}

/* Selecto de etiqueta */
ul {
    
    text-align: center;
    
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;

}

